name: docker-push

on:
  push:
    branches: [main]

jobs:
  get_version:
    uses: ./.github/workflows/toml_parser.yaml
    with:
      filepath: Cargo.toml
      path: .package.version

  docker_push:
    needs: get_version
    if: ${{ needs.get_version.outputs.value != '' }}

    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: write
      attestations: write
      id-token: write

    env:
      registry: ghcr.io
      version: ${{ needs.get_version.outputs.value }}

    steps:
      - name: Login to registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.registry }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=raw,value=v${{ env.version }}
            type=raw,value=latest

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
